header {
    background-color: #000;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    outline: 3px solid #fff;
    box-shadow: 0 0 1.5em #f0b;
    display: flex;
    align-items: center;


    .header__logo {
        height: 7em;
        width: 7em;
        border-top-left-radius: .7em;
        border-bottom-left-radius: .7em;
    }

    .header__titulo {
        display: inline-block;
        margin: 0 .2em;
        color: #fff;
        text-shadow: 0 0 .2em #f0b;
        font-family: 'Cinzel', serif;
        font-style: italic;
        font-size: 5em;
        line-height: 1;
        flex-grow: 1;
    }

    button {
        display: inline-block;
        background-color: #f7b;
        color: #f08;
        width: 100%;
        margin: .2em;
        padding: .5em;
        border-radius: .5em;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}